body{
    background-color: #25A9FC;
}
.box{
    position: relative;
    margin: 0;
    display: block;
    width: 200px;
    height: 300px;
    background: none;
}
.main{
    position: absolute;
    top: 30%;
    left: 20%;
    width: 300px;
    height: 200px;
    border-radius: 5%;
    background-color: gray;
    z-index: -1;
}
.main2{
    position: absolute;
    background-color: wheat;
    bottom: 1;
    width: 300px;
    height: 70px;
    border-radius: 5%;
}
.head{
    position: absolute;
    background-color: gray;
    width: 170px;
    height: 140px;
    border-radius: 5%;
    left: 171%;
    bottom: 3.8%;
}
.window{
    position: absolute;
    background-color: rgb(212, 191, 191);
    width: 100px;
    height: 90px;
    border-radius: 15% 15%;   
    left: 40%;
}
.wheels{
    position: absolute;
    background-color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    left: 36%;
    bottom: -5%;
    z-index: -1;
}
.wheels2{
    position: absolute;
    background-color: black;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    bottom: 21%;
    right: 25%;
}
.wheels3{
    position: absolute;
    background-color: white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    left: 180%;
    bottom: -5%;
}
.wheels4{
    position: absolute;
    background-color: black;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    bottom: 21%;
    right: 25%;
}
body{
    animation-duration: 6s;
    animation-name: ride;
    overflow: hidden;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}
@keyframes ride {
    from {
        margin-left: -40%;
        width: 100%;
    }
    to {
        margin-left: 65%;
        width: 100%;
    }
}